.wrapper {
  position: relative;
  top: 0;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  position: absolute;
  height: 42px;

  top: 18px;
  left: 6.74%;
  right: 11.04%;

  .logo {
    height: inherit;
    width: 102px;
    cursor: pointer;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    height: 31px;

    .searchContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      //height: 126px;
      width: 60vw;

      .btnShell {
        width: 131px;
        background: #349A89;
        border-radius: 4px;
    
        font-family: Helvetica;
        font-size: 14px;
        line-height: 31px;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
      }
    }

    .btnLogin a {
      width: 42px;
      margin-left: 33px;
  
      font-family: Helvetica;
      font-size: 12px;
      line-height: 40px;
      letter-spacing: 1px;
      text-transform: uppercase;
      /*color: #2B2B2B;
      color: white;*/
    }

    .heart {
      margin-left: 39px;
      width: 20px;
      color: red;
      cursor: pointer;
    }
  }
}

